@charset "utf-8";
/* CSS Document */
.clear { width:100%; clear:both !important; }
.center { text-align:center !important; }
.block { display:block !important; }
.inline { display:inline !important; }
.normal { font-weight:normal !important; }
.underline { text-decoration:underline !important; }
.upper { text-transform:uppercase !important; }
.noUnderline { text-decoration:none !important; }
.noBorder { border:0px !important; }
.noPadding { padding:0px !important; }
.noMargin { margin:0px !important; }
.floatL { float:left !important; }
.floatR { float:right !important; }
.alignR { text-align:right !important; }
.minHT360 {min-height:360px !important;}
.minHT500 {min-height:500px !important;}
.margin5 {margin:5px !important;}
.margin10 {margin:10px !important;}
.marginT1 { margin-top:1px !important; }
.marginT2 { margin-top:2px !important; }
.marginT3 { margin-top:3px !important; }
.marginT4 { margin-top:4px !important; }
.marginT5 { margin-top:5px !important; }
.marginT6 { margin-top:6px !important; }
.marginT7 { margin-top:7px !important; }
.marginT8 { margin-top:8px !important; }
.marginT9 { margin-top:9px !important; }
.marginT10 { margin-top:10px !important; }
.marginT11 { margin-top:11px !important; }
.marginT12 { margin-top:12px !important; }
.marginT13 { margin-top:13px !important; }
.marginT15 { margin-top:15px !important; }
.marginT17 { margin-top:17px !important; }
.marginT18 { margin-top:18px !important; }
.marginT19 { margin-top:19px !important; }
.marginT20 { margin-top:20px !important; }
.marginT22 { margin-top:22px !important; }
.marginT23 { margin-top:23px !important; }
.marginT25 { margin-top:25px !important; }
.marginT28 { margin-top:35px !important; }
.marginT30 { margin-top:30px !important; }
.marginT35 { margin-top:35px !important; }
.marginT40 { margin-top:40px !important; }
.marginT45 { margin-top:45px !important; }
.marginT50 { margin-top:50px !important; }
.marginT56 { margin-top:56px !important; }
.marginT60 { margin-top:60px !important; }
.marginT70 { margin-top:70px !important; }
.marginT80 { margin-top:80px !important; }
.marginT85 { margin-top:85px !important; }
.marginT95 { margin-top:95px !important; }
.marginT100 { margin-top:100px !important; }
.marginT130 { margin-top:130px !important; }
.marginT145 { margin-top:145px !important; }
.marginT150 { margin-top:150px !important; }
.marginT155 { margin-top:155px !important; }
.marginR3 { margin-right:3px !important; }
.marginR10 { margin-right:10px !important; }
.marginR11 { margin-right:11px !important; }
.marginR12 { margin-right:12px !important; }
.marginR13 { margin-right:13px !important; }
.marginR15 { margin-right:15px !important; }
.marginR20 { margin-right:20px !important; }
.marginR25 { margin-right:25px !important; }
.marginR32 { margin-right:32px !important; }
.marginR80 { margin-right:80px !important; }
.marginR150 { margin-right:150px !important; }
.marginB10 { margin-bottom:10px !important; }
.marginB15 { margin-bottom:15px !important; }
.marginB17 { margin-bottom:17px !important; }
.marginB18 { margin-bottom:18px !important; }
.marginB20 { margin-bottom:20px !important; }
.marginB30 { margin-bottom:30px !important; }
.marginL10 { margin-left:10px !important; }
.marginL11 { margin-left:11px !important; }
.marginL12 { margin-left:12px !important; }
.marginL14 { margin-left:14px !important; }
.marginL15 { margin-left:15px !important; }
.marginL18 { margin-left:18px !important; }
.marginL19 { margin-left:19px !important; }
.marginL20 { margin-left:20px !important; }
.marginL22 { margin-left:22px !important; }
.marginL24 { margin-left:24px !important; }
.marginL25 { margin-left:25px !important; }
.marginL30 { margin-left:30px !important; }
.marginL32 { margin-left:32px !important; }
.marginL40 { margin-left:40px !important; }
.marginL50 { margin-left:50px !important; }
.marginL55 { margin-left:55px !important; }
.marginL60 { margin-left:60px !important; }
.marginL70 { margin-left:70px !important; }
.marginL80 { margin-left:80px !important; }
.marginL100 { margin-left:100px !important; }
.marginL120 { margin-left:120px !important; }
.marginL150 { margin-left:150px !important; }
.marginL215 { margin-left:215px !important; }
.marginL250 { margin-left:250px !important; }
.marginL339 { margin-left:339px !important; }
.marginL350 { margin-left:350px !important; }
.marginL310 { margin-left:310px !important; }
.marginL390 { margin-left:390px !important; }
.marginL395 { margin-left:395px !important; }
.marginL410 { margin-left:410px !important; }
.marginR5 { margin-right:5px !important; }
.marginR35 { margin-right:35px !important; }
.marginB3 { margin-bottom:5px !important; }
.marginB5 { margin-bottom:5px !important; }
.marginL5 { margin-left:5px !important; }
.marginL7 { margin-left:7px !important; }
.marginL9 { margin-left:9px !important; }
.padding10 { padding:10px !important; }
.padding25 { padding:25px !important; }
.padding35 { padding:35px !important; }
.padding10_25 {padding:10px 25px !important;}
.padding20_40{padding:20px 40px !important;}
.paddingT1 { padding-top:1px !important; }
.paddingT3 { padding-top:3px !important; }
.paddingT4 { padding-top:4px !important; }
.paddingT5 { padding-top:5px !important; }
.paddingT7 { padding-top:7px !important; }
.paddingT8 { padding-top:8px !important; }
.paddingT10 { padding-top:10px !important; }
.paddingT15 { padding-top:15px !important; }
.paddingT20 { padding-top:20px !important; }
.paddingT25 { padding-top:25px !important; }
.paddingT30 { padding-top:30px !important; }
.paddingT40 { padding-top:40px !important; }
.paddingT50 { padding-top:50px !important; }
.paddingT85 { padding-top:85px !important; }
.paddingT90 { padding-top:90px !important; }
.paddingR5 { padding-right:5px !important; }
.paddingR10 { padding-right:10px !important; }
.paddingR15 { padding-right:15px !important; }
.paddingR20 { padding-right:20px !important; }
.paddingR30 { padding-right:30px !important; }
.paddingR40 { padding-right:40px !important; }
.paddingB3 { padding-bottom:3px !important; }
.paddingB4 { padding-bottom:4px !important; }
.paddingB5 { padding-bottom:5px !important; }
.paddingB8 { padding-bottom:8px !important; }
.paddingB9 { padding-bottom:9px !important; }
.paddingB10 { padding-bottom:10px !important; }
.paddingB14 { padding-bottom:14px !important; }
.paddingB20 { padding-bottom:20px !important; }
.paddingB30 { padding-bottom:30px !important; }
.paddingB38 { padding-bottom:38px !important; }
.paddingB40 { padding-bottom:40px !important; }
.paddingB50 { padding-bottom:50px !important; }
.paddingB70 { padding-bottom:70px !important; }
.paddingB110 { padding-bottom:110px !important; }
.paddingL5 { padding-left:5px !important; }
.paddingL10 { padding-left:10px !important; }
.paddingL11 { padding-left:11px !important; }
.paddingL12 { padding-left:12px !important; }
.paddingL13 { padding-left:13px !important; }
.paddingL14 { padding-left:14px !important; }
.paddingL15 { padding-left:15px !important; }
.paddingL16 { padding-left:16px !important; }
.paddingL18 { padding-left:18px !important; }
.paddingL20 { padding-left:20px !important; }
.paddingL24 { padding-left:24px !important; }
.paddingL30 { padding-left:30px !important; }
.paddingL35 { padding-left:35px !important; }
.paddingL38 { padding-left:38px !important; }
.paddingL40 { padding-left:40px !important; }
.paddingL44 { padding-left:44px !important; }
.paddingL81 { padding-left:81px !important; }
.paddingL85 { padding-left:85px !important; }
.padding12 { padding:12px !important; }
.padding15 { padding:15px !important; }
.padding20 { padding:20px !important; }
.posRel { position:relative !important; }
.bold { font-weight:700 !important; }
.blueCol { color:#0066FF !important; }
.greyTxt { color:#666666 !important; }
.redTxt { color:#FF0000 !important; }
.lightGrey { color:#999 !important; }
.yelTxt { color:#fbbf00 !important; }
.font10 { font-size:10px !important; }
.font11 { font-size:11px !important; }
.font12 { font-size:12px !important; }
.font13 { font-size:13px !important; }
.font14 { font-size:14px !important; }
.font15 { font-size:15px !important; }
.font16 { font-size:16px !important; }
.font17 { font-size:17px !important; }
.font18 { font-size:18px !important; }
.font28 { font-size:28px !important; }
.font32 { font-size:32px !important; }
.font40 { font-size:40px !important; }
.noBackground { background:none !important; }
.overflowHidden { overflow:hidden !important; }
.greyBorderTop { border-top:2px dotted #333 !important; }
.padding2 { padding:2px !important; }
.posAbs { position:absolute !important; }
.marginL3 { margin-left:3px !important; }
.marginL110 { margin-left:110px !important; }
.marginL270 { margin-left:270px !important; }
.strict { font-size:13px; font-family:Arial, Helvetica, sans-serif; }
.font17 { font-size:17px !important; }
.font20 { font-size:20px !important; }
.font25 { font-size:25px !important; }
.borderRight { border-right:1px dotted #e2e2e2; }
.borderRightN { border-right:0px !important; }
.borderbottomN { border-bottom:0px !important; }
.borderLeft { border-left:1px dotted #666; }
.ht50 { height:50px !important; overflow:hidden !important; }
.ht20 { height:20px !important; overflow:hidden !important; }
.ht29 { height:29px !important; overflow:hidden !important; }
.ht10 { height:10px !important; overflow:hidden !important; }
.ht30 { height:30px !important; overflow:hidden !important; }
.ht48 { height:48px !important; overflow:hidden !important; }
.ht49 { height:49px !important; overflow:hidden !important; }
.htFull { height:100% !important; overflow:auto !important; }
.wd300 { width:300px !important; }
.disN { display:none; }
.disB { display:block !important; }
.borderBottom { border-bottom:1px solid #535353; }
.borderTop { border-top:1px solid #cacaca; }
.lineHT16 { line-height:16px !important; }
.lineHT20 { line-height:20px !important; }
.cursorP { cursor:pointer !important; }
.difRed { background:#b62e55; }
.difGrey { background:#CFCFCF; }
.padding5 { padding:5px !important; }
.borderRadius0 { border-radius:0 !important; -webkit-border-radius:0px !important; -moz-border-radius:0px !important; }
.borderRadius5 { border-radius:5px !important; -webkit-border-radius:5px !important; -moz-border-radius:5px !important;}
.borderRadius5005 { border-radius:5px 0px 0px 5px !important; -webkit-border-radius:5px 0px 0px 5px !important; -moz-border-radius:5px 0px 0px 5px !important; }
.borderRadius0550 { border-radius:0px 5px 5px 0px !important; -webkit-border-radius:0px 5px 5px 0px !important; -moz-border-radius:0px 5px 5px 0px !important; }
.colWT { color:#FFFFFF !important; }
.wd50P {width:50% !important;}
.wd15 { width:15px !important; }
.wd20 { width:20px !important; }
.wd30 { width:30px !important; }
.wd33 { width:33px !important; }
.wd39 { width:39px !important; }
.wd40 { width:40px !important; }
.wd45 { width:45px !important; }
.wd50 { width:50px !important; }
.wd53 { width:53px !important; }
.wd55 { width:55px !important; }
.wd56 { width:56px !important; }
.wd58 { width:58px !important; }
.wd59 { width:59px !important; }
.wd60 { width:60px !important; }
.wd64 { width:64px !important; }
.wd65 { width:65px !important; }
.wd69 { width:69px !important; }
.wd70 { width:70px !important; }
.wd73 { width:73px !important; }
.wd74 { width:74px !important; }
.wd78 { width:78px !important; }
.wd80 { width:80px !important; }
.wd84 { width:84px !important; }
.wd85 { width:85px !important; }
.wd92 { width:92px !important; }
.wd95 { width:95px !important; }
.wd98 { width:98px !important; }
.wd99 { width:99px !important; }
.wd100 { width:100px !important; }
.wd104 { width:104px !important; }
.wd105 { width:105px !important; }
.wd107 { width:107px !important; }
.wd110 { width:110px !important; }
.wd118 { width:118px !important; }
.wd120 { width:120px !important; }
.wd123 { width:123px !important; }
.wd125 { width:125px !important; }
.wd130 { width:130px !important; }
.wd132 { width:132px !important; }
.wd134 { width:134px !important; }
.wd135 { width:135px !important; }
.wd136 { width:136px !important; }
.wd137 { width:137px !important; }
.wd138 { width:138px !important; }
.wd139 { width:139px !important; }
.wd140 { width:140px !important; }
.wd145 { width:145px !important; }
.wd147 { width:147px !important; }
.wd148 { width:148px !important; }
.wd149 { width:149px !important; }
.wd150 { width:150px !important; }
.wd153 { width:153px !important; }
.wd154 { width:154px !important; }
.wd155 { width:155px !important; }
.wd157 { width:157px !important; }
.wd160 { width:160px !important; }
.wd162 { width:162px !important; }
.wd165 { width:165px !important; }
.wd166 { width:166px !important; }
.wd170 { width:172px !important; }
.wd172 { width:172px !important; }
.wd173 { width:173px !important; }
.wd178 { width:178px !important; }
.wd180 { width:180px !important; }
.wd184 { width:184px !important; }
.wd185 { width:185px !important; }
.wd190 { width:190px !important; }
.wd191 { width:191px !important; }
.wd192 { width:192px !important; }
.wd193 { width:193px !important; }
.wd194 { width:194px !important; }
.wd199 { width:199px !important; }
.wd200 { width:200px !important; }
.wd209 { width:209px !important; }
.wd210 { width:210px !important; }
.wd215 { width:215px !important; }
.wd217 { width:217px !important; }
.wd220 { width:220px !important; }
.wd225 { width:225px !important; }
.wd230 { width:230px !important; }
.wd234 { width:234px !important; }
.wd238 { width:238px !important; }
.wd240 { width:240px !important; }
.wd245 { width:245px !important; }
.wd247 { width:247px !important; }
.wd250 { width:250px !important; }
.wd255 { width:255px !important; }
.wd257 { width:257px !important; }
.wd260 { width:260px !important; }
.wd262 { width:262px !important; }
.wd265 { width:265px !important; }
.wd270 { width:270px !important; }
.wd285 { width:285px !important; }
.wd290 { width:290px !important; }
.wd295 { width:295px !important; }
.wd298 { width:298px !important; }
.wd320 { width:320px !important; }
.wd335 { width:335px !important; }
.wd340 { width:340px !important; }
.wd355 { width:355px !important; }
.wd370 { width:370px !important; }
.wd400 { width:400px !important; }
.wd425 { width:425px !important; }
.wd440 { width:440px !important; }
.wd450 { width:450px !important; }
.wd460 { width:460px !important; }
.wd490 { width:490px !important; }
.wd500 { width:500px !important; }
.wd505 { width:505px !important; }
.wd518 { width:518px !important; }
.wd525 { width:525px !important; }
.wd530 { width:530px !important; }
.wd550 { width:550px !important; }
.wd575 { width:575px !important; }
.wd585 { width:585px !important; }
.wd590 { width:590px !important; }
.wd600 { width:600px !important; }
.wd630 { width:630px !important; }
.wd640 { width:640px !important; }
.wd650 { width:650px !important; }
.wd660 { width:660px !important; }
.wd670 { width:670px !important; }
.wd685 { width:685px !important; }
.wd687 { width:687px !important; }
.wd700 { width:700px !important; }
.wd720 { width:720px !important; }
.wd740 { width:740px !important; }
.wd745 { width:745px !important; }
.wd777 { width:777px !important; }
.wdAuto { width:auto !important; }
.wdFull { width:100% !important; }

/* 14Th Jan 2013 */
.colorBlue {color:#009ad0 !important;}
.colorGrey {color:#a6a6a6 !important;}
.colorDarkGrey {color:#595959 !important;}
.colorGreyDark {color:#404040 !important;}
.colorWhite {color:#fff !important;}

/* 17Th Jan 2013 */
.border{border:1px solid #bfbfbf;}

/* added on 12th Feb 2015 for stat box at dasboard */
.bg-red,
.bg-aqua,
.bg-green,
.bg-yellow {
    color: #fff !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.col-lg-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}